* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(5, 200px);
    gap: 0;
}

.square {
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}
